*{
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
}

/* header */

.navbar{
    padding: 10px 0px 10px 0px;
    background: black;
    border-bottom: 1px solid #44D62C;
    position: sticky; 
    top: 0;
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-content img{
    height: 35px;
}

.navbar-content a,
.navbar-content i{
    color: #7D8185;
    text-decoration: none;
    font-size: 15px;
}

.navbar-content a:hover,
.navbar-content i:hover{
    color: white;
}

/* notification */

.notification{
    background: #555555;
    color: white;
    display: flex;
    align-items: center;
    padding: 13px 0px 13px 0px;
    font-size: 14px;
    text-align: center;
}

.notification a{
    color: white;
    text-decoration: none;
}

.notification a:hover{
    border-bottom: 1px solid white;
}

/* homepage */

.homepage-big-banner{
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 10px solid #222222;;
    color: white;
    display: flex;
    flex-direction: column;
}

.homepage-big-banner-first-text{
    margin-top: 60px;
    font-size: 50px;

}

.homepage-big-banner-second-text{
    margin-top: 10px;
    font-size: 23px;
}

.homepage-big-banner-buttons{
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.homepage-big-banner-button{
    display: flex;
    flex-direction: row;
}

.homepage-big-banner-button a{
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.homepage-big-banner-button p{
    color:#44D62C;
}

.homepage-big-banner-button a:hover{
    border-bottom: 1px solid white;
}