*{
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 65%;
    margin: 0 auto;
}

/* header */

.navbar{
    padding: 10px 0px 10px 0px;
    background: black;
    border-bottom: 1px solid #44D62C;
    position: sticky; 
    top: 0;
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-content img{
    height: 35px;
}

.navbar-content a,
.navbar-content i{
    color: #7D8185;
    text-decoration: none;
    font-size: 15px;
}

.navbar-content a:hover,
.navbar-content i:hover{
    color: white;
}

/* notification */

.notification{
    background: #555555;
    color: white;
    display: flex;
    align-items: center;
    padding: 13px 0px 13px 0px;
    font-size: 14px;
    text-align: center;
}

.notification a{
    color: white;
    text-decoration: none;
}

.notification a:hover{
    border-bottom: 1px solid white;
}

/* homepage */

.homepage-big-banner{
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 10px solid #222222;
    color: white;
    display: flex;
    flex-direction: column;
}

.homepage-big-banner-first-text{
    margin-top: 60px;
    font-size: 50px;
}

.homepage-big-banner-second-text{
    margin-top: 10px;
    font-size: 23px;
}

.homepage-big-banner-buttons{
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.homepage-big-banner-button{
    display: flex;
    flex-direction: row;
}

.homepage-big-banner-button a{
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.homepage-big-banner-button p{
    color:#44D62C;
}

.homepage-big-banner-button a:hover{
    border-bottom: 1px solid white;
}

.homepage-small-banners{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background: #222222;
    border-bottom: 10px solid #222222;
}

.homepage-small-banner{
    height: 575px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.homepage-small-banner-first-text{
    margin-top: 60px;
    font-size: 35px;
}

.homepage-small-banner-second-text{
    margin-top: 10px;
    font-size: 18px;
}

.homepage-small-banner-buttons{
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.homepage-small-banner-button{
    display: flex;
    flex-direction: row;
    font-size: 17px;
}

.homepage-small-banner-button a{
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.homepage-small-banner-button p{
    color:#44D62C;
}

.homepage-small-banner-button a:hover{
    border-bottom: 1px solid white;
}

.homepage-exclusive{
    background: #FF9C07;
    color: black;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    margin-bottom: -45px;
    margin-top: 45px;
    text-align: left;
}

#homepage-exclusive-first-text{
    font-size: 11px;
}

#homepage-exclusive-second-text{
    font-size: 13px;
}

/* footer */

.footer{
    padding-top: 30px;
    background: black;
    padding-bottom: 25px;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid grey;
    padding-bottom: 25px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 14px;
    margin-left: 1px
}

.footer-item a{
    color: grey;
    text-decoration: none;
    margin: 5px 0px 5px 0px;
    border-bottom: 1px solid transparent;
}

.footer-item a:hover{
    border-bottom: 1px solid white;
    color: white;
}

#footer-item-first-text{
    margin: 0px 0px 5px 0px;
}

.footer-item-razer{
    color:#44D62C;
}

.footer-socials{
    text-align: right;
    margin-top: 5px;
}

.footer-socials i{
    border: 1px solid #44D62C;
    color: #44D62C;
    border-radius: 50%;
    padding: 8px;
    width: 15px;
    height: 15px;
    text-align: center;
}

.footer-content-second{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: grey;
    font-size: 11px;
}

.footer-content-second a{
    color: grey
}

.footer-content-second a:hover{
    color: white;
    border-bottom: 1px solid white;
}

.footer-copyright{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid transparent;
    margin: 1px;
}

.footer-copyright a{
    margin: 0px 10px 0px 10px;

}

.footer-location{
    display: flex;
    flex-direction: row;
    margin-right: 1px;
}

.footer-location p{
    margin-right: 10px;
    color: white;
}


